<div class="task-form">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <h2 style="text-align: center;">New Task</h2>

    <div class="form-grid">
      <div class="form-row">
        <label class="required">Assigned To</label>
        <input formControlName="assignedTo" type="text" required />
      </div>

      <div class="form-row">
        <label class="required">Status</label>
        <input formControlName="status" type="text" required />
      </div>

      <div class="form-row">
       <label class="required">Due Date</label>
        <input formControlName="dueDate" type="date" required />
      </div>

      <div class="form-row">
       <label class="required">Priority</label>
        <input formControlName="priority" type="text" required />
      </div>
    </div>

    <div class="form-row full-width">
      <label>Description</label>
      <textarea formControlName="description"></textarea>
    </div>

    <div class="form-actions">
      <button type="button" class="btn yellow-btn" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn grey-btn">Save</button>
    </div>
  </form>
</div>
